7b - Software Design/James Higginbotham - Principles of Web API Design_ Delivering Value with APIs and Microservices-Addison-Wesley Professional (2022).pdf
7b - Software Design/James Higginbotham - Principles of Web API Design_ Delivering Value with APIs and Microservices-Addison-Wesley Professional (2021).pdf
7b - Software Design/Foundations of Scalable Systems_ Designing Distributed Architectures-O'Reilly Media (2022).pdf
7b - Software Design/Evans, Eric - Domain-driven design_ tackling complexity in the heart of software-Addison-Wesley (2014)-2.pdf
7b - Software Design/Domain-driven design_ tackling complexity in the heart of software-Addison-Wesley (2014)-2.pdf
7b - Software Design/Designing data-intensive applications_ the big ideas behind reliable, scalable, and maintainable systems-O'Reilly Media (2018)Kleppmann, Martin -.pdf
7b - Software Design/Database Design for Mere Mortals_ A Hands-On Guide to Relational Database Design-Addison-Wesley Professional (2013).pdf
7b - Software Design/Build a Large Language Model (From Scratch)-Manning Publications Co. (2024).pdf
7b - Software Design/Articulating Design Decisions_ Communicate with Stakeholders, Keep Your Sanity, and Deliver the Best User Experience-O'Reilly Media (2020)Tom Greever - .pdf
7b - Software Design/Andrew Harmel-Law - Facilitating Software Architecture_ Empowering Teams to Make Architectural Decisions-O’Reilly Media (2024).pdf
7b - Software Design/A Personal Exercise in Empirical Software Design-O'Reilly Media (2023)Kent Beck - Tidy First__ .pdf
4 - Cloud/Mastering AWS Cost Optimization_ Real-world technical and operational cost-saving best practices-Niv Books (2019).epub
4 - Cloud/AWS System Administration_ Best Practices for Sysadmins in the Amazon Cloud-O'Reilly Media (2015).pdf
4 - Cloud/Aws Certified Developer Official Study Guide_ Associate (Dva-C01) Exam-(1).pdf
4 - Cloud/Andreas Wittig, Michael Wittig - Amazon Web Services in Action-Manning Publications (2018).pdf
3 - Databases/Relational Database Design and Implementation-Morgan Kaufmann (2016).pdf
2 - Data Engineering/Nick Singh, Kevin Huo - Ace the Data Science Interview_ 201 Real Interview Questions Asked By FAANG, Tech Startups, & Wall Street-Ace the Data Science Interview (2021).pdf
2 - Data Engineering/Kleppmann, Martin - Designing data-intensive applications_ the big ideas behind reliable, scalable, and maintainable systems-O'Reilly Media (2018).pdf
2 - Data Engineering/Gwen Shapira, Todd Palino, Rajini Sivaram, Krit Petty - Kafka_ The Definitive Guide_ Real-Time Data and Stream Processing at Scale-O'Reilly Media (2021).pdf
2 - Data Engineering/Fundamentals of Data Engineering_ Plan and Build Robust Data Systems-O'Reilly Media (2022) Joe Reis, Matt Housley - .pdf
1 - Languages/Fluent.Python.2nd.Edition.(z-lib.org).pdf
1 - Languages/Adam D. Scott, Matthew MacDonald, Shelley Powers - JavaScript Cookbook_ Programming the Web (2021, O'Reilly Media) - libgen.li.pdf
